   {{>postlogin2 }}

  
   <span  style='display:none' id='myspan'>{{blog.text}}</span>

<div class="blogview">

 <h1>{{blog.title}}</h1>
 <h4>Author:{{blog.name}}</h4>
 <h4>Category:{{blog.category}}</h4>
 
 <hr>
 
 <div id="content" ></div>

</div>



	 <!-- Modal -->

<button  id='newblog' style='display:none' type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>
 
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Blog</h4>
        </div>
        <div class="modal-body">
          
		  <form id="blogform" action="/blog/edit/{{blog.id}}"  method="post">
	
  <label for="cat">Category:</label>
<select id='cat' name="category">
    {{#each categories}} 
      <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>


<label for="tag">Tags:</label>
  <input id="tag" type="text" placeholder="tags"  name="tag" value="{{blog.tag}}">
  <label for="mypic">Picture:</label>
  <input id="mypic" placeholder="image" type="text" name="mypic" value="{{blog.picture}}">
  <label for="title">Title:</label>
  <input id="title" type="text" placeholder="title" name="title" size="100%" value="{{blog.title}}">

   Text:<br>
  <textarea style='height:100px;width:100%' id="comment" name="comment" form="blogform">{{blog.text}}</textarea>
  <br><br>
  
 
</form> 
		  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		    <button id='save' type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
	







  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>

    document.getElementById('content').innerHTML =
      marked($("#myspan").html());
  </script>